<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">

<div class="text-center body-sign mt-5">
  <form class="form-sign">
    <div class="header-logo text-dark">Cognite</div>

    <h1 class="h3 mb-3 font-weight-normal" *ngIf="errorTitle">{{ errorTitle }}</h1>
    <p class="lead" *ngIf="errorMessage">{{ errorMessage }}</p>

    <button class="btn btn-lg btn-primary btn-block" (click)="goBack()">Volver a la página anterior</button>
    <a class="btn btn-lg btn-secondary btn-block" routerLink="/">Ir a la página principal</a>

    <p class="mt-5 mb-3 text-muted">&copy; 2025 Cognite</p>
  </form>
</div>

  