{{> header}}
<main class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center p-4 border rounded">
            <img id="profile-img" src="/user/{{user.id}}/image" class="rounded-circle img-fluid mb-3" alt="Foto de perfil" style="max-width: 150px;">
            <input type="file" class="form-control-file d-none" id="upload-photo">
            
            <p id="user-name"><strong>{{user.firstName}} {{user.lastName}}</strong></p>
            <p><strong>Email:</strong> <span id="user-email">{{user.email}}</span></p>
            
          
            <button class="btn btn-primary" onclick="editProfile()">Editar perfil</button>
            <div id="Settings" class="w3-container tab" style="display:none">
                <h2>Settings</h2>
                  <div data-content id="settings" class="active">
                    <form id="updateForm" class="mx-1 mx-md-4" action="/updateUser/{{user.id}}" method="post" enctype="multipart/form-data">
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label for="firstName">Nombre</label>
                                <input class="form-control" id="firstName" type="text" name="firstName" placeholder="Nuevo nombre"/>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label for="lastName">Apellidos</label>
                                <input class="form-control" id="lastName" type="text" name="lastName" placeholder="Nuevo apellido"/>
                              </div>

                              <div class="col">
                                <div class="form-group">
                                  <label for="lastName">Email</label>
                                  <input type="email" id="email" name="email" class="form-control" placeholder="Email"/>
                                </div>
                              </div>
              
                                <div class="col">
                                  <div class="form-group">
                                    <label for="topic">Categoría preferida</label>
                                    <select id="topic" name="topic" class="form-control">
                                      <option value="" disabled selected>Me gustaría aprender sobre...</option>
                                      <option value="Desarrollo web">Desarrollo web</option>
                                      <option value="Desarrollo móvil">Desarrollo móvil</option>
                                      <option value="Desarrollo de videojuegos">Desarrollo de videojuegos</option>
                                      <option value="Emprendimiento">Emprendimiento</option>
                                      <option value="Finanzas">Finanzas</option>
                                      <option value="Marketing digital">Marketing digital</option>
                                      <option value="Liderazgo">Liderazgo</option>
                                      <option value="Comunicación">Comunicación</option>
                                  </select>
                                  </div>
                                </div>

                              <div class="delete">
                                <a type="button" class="btn btn-primary btn-lg red" href="/deleteAccount/{{user.id}}" >Eliminar</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6 mb-3">
                          <div class="mb-2"><b>Change Password</b></div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label for="currentPassword">Current Password</label>
                                <input class="form-control" id="currentPassword" type="password" name="currentPassword" placeholder="••••••"/>
                              </div>
                            </div>
                          </div>
                          {{#error}}
                          <div class="form-outline mb-4 w-50 mx-auto">
                              <p class="text-danger">Las contraseñas no coinciden</p>
                          </div>
                          {{/error}}
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label for="newPassword">New Password</label>
                                <input class="form-control" id="newPassword" type="password" name="newPassword" placeholder="••••••"/>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input class="form-control" id="confirmPassword" type="password" name="confirmPassword" placeholder="••••••"/>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <div class="mb-2"><b>Change Photo</b>
                          <input class="form-control" name='imageFile' type="file" id="imageFile" accept="image/*"/>
                          </div>
                        </div>
                      </div>
                      <input type="hidden" name="_csrf" value="{{token}}" />
                      <div class="row">
                        <div class="col d-flex justify-content-end">
                          <button class="btn btn-primary" type="submit">Save Changes</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </form>
              </div>
             
        </div>
    </div>

    <hr>
        
    <h3 class="text-center">Revisiones pendientes</h3>
    {{#reviews}}
        <div class="comment mb-3">
            <strong>{{user.firstName}} {{user.lastName}}</strong>
            <p>{{text}}</p>
            <!-- edition button -->
            <button id="button-form-{{id}}" class="btn btn-link btn-sm" onclick="showEditForm('{{id}}', '{{text}}')">
                Editar comentario
            </button>

            <!-- hidden edit form  -->
            <form id="edit-form-{{id}}" action="/editReview" method="post" class="mt-2 d-none">
                <input type="hidden" name="reviewId" value="{{id}}">
                <input type="hidden" name="_csrf" value="{{token}}"> <!-- CSRF Token -->
                
                <div class="form-group">
                    <textarea name="newText" class="form-control">{{text}}</textarea>
                </div>
                <button type="submit" class="btn btn-success btn-sm">Guardar cambios</button>
                <button type="button" class="btn btn-secondary btn-sm" onclick="hideEditForm('{{id}}')">Cancelar</button>
            </form>
            <!--form to delete review-->
            <form action="/deleteReview" method="post" style="display: inline;">
                <input type="hidden" name="reviewId" value="{{id}}">
                <input type="hidden" name="_csrf" value="{{token}}" />
                <button class="btn btn-link btn-sm" type="submit" style="color: red;">Eliminar comentario</button>
            </form>
            <form action="/reviews/{{id}}/desmark-pending" method="post" class="d-inline">
                <input type="hidden" name="_csrf" value="{{token}}" />
                <button type="submit" class="btn btn-link btn-sm text-warning">Ignorar</button>
            </form>
            
            <form method="post" action="/admin/users/delete/{{user.id}}" class="d-inline">
                <input type="hidden" name="_csrf" value="{{token}}" />
                <button type="submit" class="btn btn-link btn-sm text-danger">Eliminar usuario</button>
            </form>
        </div>
    {{/reviews}}
    {{^reviews}}
        <p>No hay reseñas pendientes.</p>
    {{/reviews}}
    <hr>
    <h3 class="text-center">Eliminar usuario</h3>
    <form action="/admin/users" method="get" class="d-flex align-items-center mr-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3">
            <circle cx="10.5" cy="10.5" r="7.5"></circle>
            <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
        </svg>
        <input type="text" class="form-control border-0 bg-transparent"  name="name" placeholder="Buscar usuario" aria-label="Buscar un curso">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {{#users}}
            <tr>
                <td>{{firstName}}</td>
                <td>
                    <form method="post" action="/admin/users/delete/{{id}}">
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        <input type="hidden" name="_csrf" value="{{token}}" />
                    </form>
                </td>
            </tr>
            {{/users}}
            {{^users}}
            <tr>
                <td colspan="2" class="text-center">No se encontraron usuarios</td>
            </tr>
            {{/users}}
        </tbody>
    </table>
 </main>
 <script>
    function showEditForm(reviewId, currentText) {
        document.getElementById("edit-form-" + reviewId).classList.remove("d-none");
        document.getElementById("button-form-" + reviewId).classList.add("d-none");
    }

    function hideEditForm(reviewId) {
        document.getElementById("edit-form-" + reviewId).classList.add("d-none");
        document.getElementById("button-form-" + reviewId).classList.remove("d-none");
    }
</script>

 {{> footer}}