<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pagetitle}}</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</head>
<body>
    <div class="container">
        <header>
            <div class="header py-3">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-4">
                        <a class="header-logo text-dark" href="#">Cognite</a>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <div class="btn btn-sm p-1 d-flex align-items-center" style="transition: none !important; border: 1px solid #6c757d;">
                            <form id="searchForm" action="#" onsubmit="searchCourse(event)" class="d-flex align-items-center">
                                <a class="text-muted" href="#" onclick="searchCourse(event)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-2">
                                        <circle cx="10.5" cy="10.5" r="7.5"></circle>
                                        <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                                    </svg>
                                </a>
                                <input type="text" id="findCourse" name="findCourse" class="form-control border-0 bg-transparent p-0" style="height: 21px; font-size: 16px;" placeholder="Buscar un curso...">
                            </form>
                        </div>

                        <div class="statistics">
                            <a href="/charts"> <button class="btn">
                                 <i class="bi bi-bar-chart"></i>
                             </button>
                         </a>
                        </div>
                        
                        
                        {{#isLoggedIn}}
                            <a class="btn btn-sm btn-outline-secondary ml-2" href="/">Inicio</a>
                            <a class="btn btn-sm btn-outline-secondary ml-2" href="/profile">Perfil</a>
                            <form action="/logout" method="post">
                                <button class="btn btn-sm btn-outline-secondary ml-2" type="submit">Cerrar sesión</button>
                                <input type="hidden" name="_csrf" value="{{token}}" />
                            </form>
                        {{/isLoggedIn}}
            
                        {{^isLoggedIn}}
                            <a class="btn btn-sm btn-outline-secondary ml-2" href="/">Inicio</a>
                            <a class="btn btn-sm btn-outline-secondary ml-2" href="/login">Log in</a>
                            <a class="btn btn-sm btn-outline-secondary ml-2" href="/signUp">Sign up</a>
                        {{/isLoggedIn}}
                    </div>
                </div>
            </div>
            <!-- Mustache para que se muestre solo en algunas plantillas??? -->
            <div class="nav-scroller py-1 mb-2">
                <nav class="nav d-flex justify-content-between">
                    <a class="p-2 text-muted" href="/showCourses/Desarrollo web">Desarrollo web</a>
                    <a class="p-2 text-muted" href="/showCourses/Desarrollo móvil">Desarrollo móvil</a>
                    <a class="p-2 text-muted" href="/showCourses/Desarrollo de videojuegos">Desarrollo de videojuegos</a>
                    <a class="p-2 text-muted" href="/showCourses/Emprendimiento">Emprendimiento</a>
                    <a class="p-2 text-muted" href="/showCourses/Finanzas">Finanzas</a>
                    <a class="p-2 text-muted" href="/showCourses/Marketing digital">Marketing digital</a>
                    <a class="p-2 text-muted" href="/showCourses/Liderazgo">Liderazgo</a>
                    <a class="p-2 text-muted" href="/showCourses/Comunicación">Comunicación</a>
                </nav>                
            </div>
        </header>
    </div>