{{> header}}
<main class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center p-4 border rounded">
            <img id="profile-img" src="/profileImage/{{user.id}}" class="rounded-circle img-fluid mb-3" alt="Foto de perfil" style="max-width: 150px;">
            <input type="file" class="form-control-file d-none" id="upload-photo">
            
            <p id="user-name"><strong>{{user.firstName}} {{user.lastName}}</strong></p>
            <p><strong>Email:</strong> <span id="user-email">{{user.email}}</span></p>
            
            <button class="btn btn-primary" onclick="editProfile()">Editar perfil</button>
            <div id="Settings" class="w3-container tab" style="display:none">
                <h2>Settings</h2>
                  <div data-content id="settings" class="active">
                    <form id="updateForm" class="mx-1 mx-md-4" action="/updateUser/{{user.id}}" method="post" enctype="multipart/form-data">
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input class="form-control" id="firstName" type="text" name="firstName" placeholder="Nuevo nombre"/>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input class="form-control" id="lastName" type="text" name="lastName" placeholder="Nuevo apellido"/>
                              </div>
                              <div class="delete">
                                <a type="button" class="btn btn-primary btn-lg red" href="/deleteAccount/{{user.id}}" >Eliminar</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6 mb-3">
                          <div class="mb-2"><b>Change Password</b></div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label for="currentPassword">Current Password</label>
                                <input class="form-control" id="currentPassword" type="password" name="currentPassword" placeholder="••••••"/>
                              </div>
                            </div>
                          </div>
                          {{#error}}
                          <div class="form-outline mb-4 w-50 mx-auto">
                              <p class="text-danger">Las contraseñas no coinciden</p>
                          </div>
                          {{/error}}
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label for="newPassword">New Password</label>
                                <input class="form-control" id="newPassword" type="password" name="newPassword" placeholder="••••••"/>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input class="form-control" id="confirmPassword" type="password" name="confirmPassword" placeholder="••••••"/>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <div class="mb-2"><b>Change Photo</b>
                          <input class="form-control" name='imageFile' type="file" id="imageFile" accept="image/*"/>
                        </div>
                        </div>
                        </div>
                      <div class="row">
                        <div class="col d-flex justify-content-end">
                          <button class="btn btn-primary" type="submit">Save Changes</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </form>
              </div>
        </div>
    </div>

    <hr>

    <h3 class="text-center">Cursos Matriculados</h3>
    <div class="row" id="courses-list">
        {{#user.enrolledCourses}}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{image}}" class="card-img-top" alt="Curso">
                    <div class="card-body">
                        <strong class="d-inline-block mb-2 text-primary">{{topic}}</strong>
                        <h5 class="card-title">{{title}}</h5>
                        <div class="mb-1 text-muted">{{rating}}</div>
                        <p class="card-text">{{description}}</p>
                        <a href="/course/{{id}}" class="btn btn-primary">Ver curso</a>
                    </div>
                </div>
            </div>

    </div>
    <br>
    <div class="row">
        <!-- Gráfico 3 -->
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mi progreso</h5>
                    <canvas id="tendenciaInscripciones" width="100%" height="30"></canvas>
                </div>
            </div>
        </div>
    </div>
    {{/user.enrolledCourses}}
    {{^user.enrolledCourses}}
            <div class="col-md-12 text-center">
                <p>No tienes cursos matriculados</p>
            </div>
        {{/user.enrolledCourses}}
    <hr>

    <div class="d-flex align-items-center justify-content-between col-12">
        <h3 class="mb-0">Mis cursos impartidos</h3>
        <a class="btn btn-primary" href="/createCourse">Añadir curso</a>
    </div>
    <br>
    <div class="row g-4" id="my-courses-list">
        {{#user.taughtCourses}}
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="{{image}}" class="card-img-top">
                <div class="card-body">
                    <strong class="d-inline-block mb-2 text-primary">{{topic}}</strong>
                    <h5 class="card-title">{{title}}</h5>
                    <div class="mb-1 text-muted">{{rating}}</div>
                    <p class="card-text">{{description}}</p>
                    <a href="/course{{id}}" class="btn btn-primary">Ver curso</a>
                </div>
            </div>
        </div>
        {{/user.taughtCourses}}  
        {{^user.taughtCourses}}
            <div class="col-md-12 text-center">
                <p>No tienes cursos impartidos</p>
            </div>
        {{/user.taughtCourses}}
    </div>        
</main>
<script>


   

    // Gráfico de Tendencia de Inscripciones
    var ctx3 = document.getElementById('tendenciaInscripciones').getContext('2d');
    var tendenciaInscripcionesChart = new Chart(ctx3, {
        type: 'line',
        data: {
            labels: ['Enero', 'Febrero', 'Marzo', 'Abril'],
            datasets: [{
                label: 'Inscripciones',
                data: [5, 7, 3, 6],
                
                fill: false,
                borderColor: '#4bc0c0',
                tension: 0.1
            }]
        }
    });

</script>

{{> footer}}